a4/survey.dtd

<!-- A survey has an ID, a title, and one or more questions -->
<!ELEMENT Survey (ID,Title,Question+)>
<!ELEMENT Question (ID,Type,Constraint?,IsRequired,Title,Answer+)>

<!ELEMENT ID (#PCDATA)>
<!ELEMENT Type (#PCDATA)>
<!ELEMENT Constraint (#PCDATA)>
<!ELEMENT IsRequired (#PCDATA)>
<!ELEMENT Title (#PCDATA)>
<!ELEMENT Answer (#PCDATA)>