a4/survey.dtd

<!-- A survey has an ID, a title, and one or more questions -->
<!ELEMENT Survey (ID,Title,(TraditionalQ|MultipleQ|TimetableQ|NumericQ)+)>
<!ELEMENT Survey EMPTY>
<!ELEMENT ID (#PCDATA)>
<!ELEMENT Title (#PCDATA)>

<!-- Assumption: defaults to any number of answers, unless k is specified -->
<!ELEMENT MultipleQ (ID,#PCDATA,TextAnswer+)>
<!ELEMENT TraditionalQ (ID,#PCDATA,TextAnswer+)>
<!ELEMENT TextAnswer (#PCDATA)>

<!ELEMENT NumericQ (ID,#PCDATA,NumAnswer)>
<!ELEMENT NumAnswer (#PCDATA)>

<!ELEMENT TimetableQ (ID,#PCDATA,TimeSlot+)>
<!ELEMENT TimeSlot (#PCDATA)>


- A numeric question requires an integer answer; we won't handle quoats. A numeric question
may have a lower and/or upper bound on acceptable response values.
- Timetable questions have one or more timeslots associated with them (each described by text
such as "Monday evenings" or \Dec 1st, 2-3pm"). For each one, the user will indicate their
availability. A timetable question can offer the user two choices (indicating that they are
available or not available) or these plus a third option that is in-between.
- Each question is either mandatory (users are required to answer these) or optional.